@model List<RS1_Ispit_asp.net_core.ViewModels.IndexVM>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered text-center">

    <thead>
        <tr>
            <th>Ime i prezime nastavnika</th>
            <th>Broj odrzanih casova u aktuelnoj kalendarskoj godini</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model)
        {
            <tr>
                <td>@x.Nastavnik</td>
                <td>@x.BrojOdrzanihCasova</td>
                <td><a href="/OdrzanaNastava/Prikaz/@x.NastavnikId/">Odaberi</a></td>
            </tr>
        }
    </tbody>
</table>

